h1{
 background-image: url(kente.jpg);
 text-align: center;
 color: black;
}
body{
  background-color: brown;
  color:black;
  font-size: large;
}
.female{
  float: right;
  margin-right: 200px;
}
.male{
  float: left;
  margin-left: 200px;
}
.male h2{
  text-align: center;
}
.text{
  clear: both;
}

.last{
  text-align: center;
}
.input{
  position: relative;
  margin-left: 700px;
}
.btn{
  border: none;
  border-radius: 5px;
  width: 100px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: large;
}