h1{
 background-image: url(kente.jpg);
 text-align: center;
 color: black;
}
body{
  background-color: brown;
  color:black;
  font-size: large;
}
.female{
  float: right;
}
.male{
  float: left;
}
.text{
  clear: both;
}
